/* index.css has all the global resets, wallpaper theme and font family */

/* COLOR PALETTE */
:root {
  --instructionsBckgColor: #1151aa;
  --instructionsBorderColor: #a4cdff;
  --strongElColor: #e7e707;
  --strongElHighlight: #23e3e3;
}

/* HELPER CLASSES */
.hide {
  opacity: 0 !important;
}

/*** COLORS ***/
strong {
  color: var(--strongElColor);
}
.strongOne,
.strongTwo,
.strongThree {
  color: var(--strongElHighlight);
}

/*** FONT COLOR ***/
h1,
h2,
h3,
p {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #c3c316, #d0d416, #f8fc07);
}

/*** ALIGNMENTS AND SOLE MARGINS ***/
h1,
h2,
p,
.scoreParentDiv {
  text-align: center;
}

h1,
h2 {
  margin-bottom: 2rem;
}

/*** FONT SIZES ***/
p {
  font-size: 2rem;
}
.copyright {
  font-size: 1.2rem;
}
.instructionsDiv p {
  font-size: 1.4rem;
}
.instructionsDiv p:first-child {
  font-size: 2.2rem;
}

/*** HEADER AND PAPYRUS ***/
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
/* aka papyrus */
#instructionsElement {
  width: 45%;
  margin-left: 50%;
  transition: all 1s;
}
/* aka papyrus */
#instructionsElement:hover {
  cursor: pointer;
  filter: contrast(0.5);
  transition: all 1s;
}

/* SCORE AREA */
.playerScoresDiv {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

/*** CARD BATTLE AREA ***/
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  /* border: solid 2px red; */
}
.cardsContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 5rem;
  /* border: solid 1px green; */
}
.elemCards {
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.elemCards:active {
  filter: saturate(2.5);
}
/* Champion's Card Div */
.cardDeckDiv {
  justify-content: center !important;
}
/* Champion Card - aka card with the yellow diamond and crown */
#cardDeckImg {
  width: 60%;
  height: 60%;
  cursor: default;
  filter: none;
}
#cardBattleDiv,
.cardsContainer div {
  display: flex;
}
#cardBattleDiv {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.mysteryCard {
  width: 35%;
  height: 60%;
  margin: 1rem 0.8rem;
  border-radius: 10px;
}
#tripleCardsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#tripleCardsDiv img:nth-child(3) {
  margin-left: 4.2rem;
}

/*** ANIMATIONS ***/
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rotate-animation {
  animation: fadeout 1.2s forwards;
}

/*** GAME INSTRUCTIONS  ***/
.instructionsDiv {
  display: block;
  position: absolute;
  transform: translate(-50%, -5%);
  left: 50%;
  width: 80%;
  padding: 1rem 0.2rem;
  border-radius: 11px;
  background-color: var(--instructionsBckgColor);
  border: solid 2px var(--instructionsBorderColor);
}

/*** SHOW DRAW  ***/
#showDrawResult {
  display: block;
  position: absolute;
  right: 42%;
  bottom: 45%;
  color: #f5f907;
  font-size: 3rem;
  /* opacity: 1; */
}

/* Declare the winner */
#winnerDiv {
  display: block;
  position: absolute;
  right: 22%;
  bottom: 45%;
  background-color: #4ba7f8;
  border: solid 2px #036cc8;
  width: 50%;
  height: 40%;
  opacity: 0.9;
}
#winnerDiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#winnerPara {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#btnPlayAgain {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 11px;
  padding: 0.4rem;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: #036cc8;
}
#btnPlayAgain:hover {
  cursor: pointer;
}
#btnPlayAgain:active {
  cursor: pointer;
  background-color: #004683;
}
