/* index.css has all the global resets */

main {
  font-family: sans-serif;
  background-color: #d6d9c0;
}
p {
  color: black;
  font-size: 2rem;
  text-align: center;
}

.elemCards {
  width: 30%;
  border-radius: 20px;
  margin: 2rem 0;
  cursor: pointer;
}

.elemCards:active {
  filter: saturate(2.5);
}

.cardsContainer {
  display: flex;
}
.cardsContainer div {
  display: flex;
  justify-content: space-around;
  border: solid 1px green;
}

h1,
h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#cardDeckImg {
  width: 70%;
}

.scoreParentDiv {
  text-align: center;
}

.playerScoresDiv {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
}
